<footer class="footer">
	<div class="footer__container">
		<div class="footer__wrapper">
			<div class="footer__top">
				<a href="index.html" class="footer__logo">
					<img src="../../images/logo-footer.png" alt="image">
				</a>
				<nav class="footer__menu">
					<ul>
						<li>
							<a href="#">Программа форума</a>
						</li>
						<li>
							<a href="#">Спикеры</a>
						</li>
						<li>
							<a href="#">Партнеры</a>
						</li>
						<li>
							<a href="#">Контакты</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="footer__bottom">
				<p class="footer__copywrite">© 2026 Липецкий бизнес форум</p>
				<ul>
					<li>
						<a href="#">Политика конфиденциальности</a>
					</li>
					<li>
						<a href="#">Сайт разработан - <span>Шубин.гуру</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>