<header class="header">
	<div class="header__container">
		<a href="index.html" class="header__logo">
			<img src="../../images/logo.png" alt="logo">
		</a>
		<div class="header__menu menu">
			<button type="button" class="menu__icon icon-menu"><span></span></button>
			<nav class="menu__body">
				<ul class="menu__list">
					<li class="menu__item"><a href="#forum" class="menu__link">Программа форума</a></li>
					<li class="menu__item"><a href="#speakers" class="menu__link">Спикеры</a></li>
					<li class="menu__item"><a href="#m-partners" class="menu__link">Партнеры</a></li>
					<li class="menu__item"><a href="#callback" class="menu__link">Контакты</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>